<template name="drawer">

  {{#with section_name}}
  <div class="drawer_container" id="section_{{section_name}}">
    <div class="title_bar" section_nom="{{section_name}}"><a class="title_bar_text" href="#">{{section_label}}</a></div>
    <div class="drawer">
      <div class="drawer_content" style="display: none;">
        <div class="user_input_container">
          {{#each inputs}}
            {{> input}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{/with}}


</template>
