<template name="drawer">

  {{#with section_name}}
  <div class="drawer_container" id="section_{{section_name}}">
    <div class="title_bar {{title_bar_class}} title_bar_text" section_nom="{{section_name}}">{{section_label}}</div>
    <div class="drawer">
      <div class="drawer_content" style="display: block;">
        <div class="info">
          {{{info}}}
        </div>
        <div class="user_input_container">
          {{#each inputs}}
            {{> input}}
          {{/each}}
        </div>
        <div class="svg_drawing_container"></div>
      </div>
    </div>
  </div>
  {{/with}}


</template>
