<template name="tabs">

  <div class="tabs_container" id="inputs">
    <div class="tab_title_bar">
      {{#each sections}}
        {{#with section_name}}
          <span class='tab tab_inactive' id="tab_{{this}}">
            <a href='#' onclick="show_input('{{this}}')"><i class="fa fa-square-o"></i> {{section_label}} </a>
          </span>
        {{/with}}
      {{/each}}

    </div>
    <div class="tabs_box">
      {{#each sections}}
        <div class="tab_content" id="section_{{this}}" style="display: none;">
        {{#with section_name}}
          <div class="info">
            {{{info}}}
          </div>
          <div class="user_input_container">
            {{#each inputs}}
              {{> input}}
            {{/each}}
          </div>
          <div class="svg_drawing_container"></div>
        {{/with}}
        </div>
      {{/each}}
    </div>
  </div>



</template>
