<template name="tabs">

  <div class="tabs_container" id="inputs">
    <div class="tab_title_bar">
      {{#each sections}}
        {{#with section_name}}
          <span class='tab tab_inactive' id="tab_{{this}}" onclick="f.show_tab('inputs','{{this}}')">
            <i class="fa fa-square-o"></i> {{section_label}}
          </span>
        {{/with}}
      {{/each}}
      <span class='tab tab_inactive summary_tab_inactive' id="tab_summary" onclick="f.show_tab('inputs','summary')">
        <i class="fa fa-list-ul"></i> Summary
      </span>

    </div>
    <div class="tabs_box table">
      {{#each sections}}
        <div class="tab_content row" id="section_{{this}}" style="display: none;">
        {{#with section_name}}
          <span class="cell">
            <span class="info">
              {{{info}}}
            </span>
            <span class="user_input_container">
              {{#each inputs}}
                {{> input}}<br>
              {{/each}}
            </span>
            {{#if is_section "section_location" }}
              <span class='geocode_line'>
                <span class="geocode_display" id="geocode_display"></span>
                <br>
                <span class="location_table" id="location_table"></span>
              </span>
            {{/if}}
          </span>
          {{#if is_section "section_location" }}
            <span id="map_road" class="cell"></span>
          {{/if}}
        {{/with}}
        </div>
      {{/each}}
      <div class="tab_content row" id="section_summary" style="display: none;">
        <span class="cell">
          <span class="info">
          </span>
          <span class="user_input_container">
            {{> summary}}
          </span>
        </span>
      </div>


    </div>
  </div>



</template>
