
/***********/
/* fonts */
/*
@font-face {
    font-family: "Open Sans";
    src: url(Open_Sans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url(Open_Sans/Roboto-Regular.ttf) format("truetype");
}
*/

/***********/
/* misc */

body {
    /*
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    */
    font-family: sans-serif;

    background: #DFDFDF;
}


/*
http://stackoverflow.com/questions/4918018/eliminate-padding-margin-around-pics-in-td-elements
Finally, I add this line, which removes that stupid spacing which appears all the time, the one that isn't padding, margin or anything.
*/
table, tr, td, th, tbody, thead{vertical-align:baseline}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

th, td {
    text-align: left;
}

img { border: 0; }



.page {
    /*background: WhiteSmoke;*/
    margin: 10px;
}








/***********/
/* titles */

.title_image {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

}

.title_line {
    font-weight: bold;
    background: #d5d9e8;
    color: #424242;
    padding: 2px;
    padding-left: 6px;
    margin: 0px;
}

.title_line_text {
    font-weight: bold;
    color: #424242;

}



.section_title {
    font-weight: bold;
    background: #DFDFDF;
    color: #424242;
    font-size: 80%;
    padding: 2px;
    padding-top: 10px;
}

.section {
    width: 100%;
    background: WhiteSmoke;
}



/*************/
/* text */


.valueOutOfRange {
    color: red;

}






.category_title {
    font-weight: bold;
    padding: 0px 3px 0px 3px;
}





/***********/
/* drawers */

.drawer {
    padding: 2px;
    background: WhiteSmoke;

    margin-bottom: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    margin-right: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: grey;
    margin-left: 5px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: grey;
}


.drawer_container {
    width: 100%;
    margin-bottom: 5px;
}

.title_bar {
    font-weight: bold;
    background: #bbc3e4;
    color: #424242;
    border: 1px solid grey;
    padding: 2px;
    padding-left: 6px;
}

.title_bar_text {
    font-weight: bold;
    color: #424242;

}


.user_input_container {

}

.svg_drawing_container {
}

.svg_drawing_preview {
    height: 400px;
    background: white;
    margin: 5px;
    /*float: left*/;

}

/***********/
/* misc */





.button_float_right{
    padding: 2px;
    margin: 2px;
    float: right;
    background: #b2d6ff;
}

.geocode_line{
    margin: 15px;

}
/* http://usabilitypost.com/2012/01/10/pressed-button-state-with-css3/# */
.geocode_button {
    padding: 5px;

    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.geocode_display {
    padding: 5px;


}


/**************/
/* selectors */


.user_input {
    /*background: #d9dce6 */;
    background: WhiteSmoke;

    display: inline-block;
    padding: 3px;
    margin: 2px;
    white-space: nowrap;
}


.user_input select {
    background: transparent;
    padding: 5px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    margin: 0px;
    padding: 1px 3px 1px 3px;
}

.user_input .number_input {
    margin: 0px 2px 0px 5px;
    padding: 0px;
    width: 40px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.number_input[type="text"]:focus,
.number_input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.user_input .text_input {
    margin: 0px 2px 0px 5px;
    padding: 0px;
    width: 300px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.text_input[type="text"]:focus,
.text_input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}



#section_module .title_bar { background: #ffb300; }
#section_array .title_bar { background: #ff5d00; }
#section_DC .title_bar { background: #b092c4; }
#section_inverter .title_bar { background: #86c974; }
#section_AC .title_bar { background: #8188a1; }


/*************/
/* sections */


#status {
    padding:2px;
    margin:0;
    background: Lavender;
    border-color: black;
    border-width: 0.1em;
    border-bottom-style: solid;
    font-size: 0.7em;


}

#system_frame {
    float: left;
    margin-right: 25px;
    width: 100%;
}

#config_frame {
    padding-top: 20px;
    padding-bottom: 20px;
    /*height: 100px;*/
}

#drawing_frame_preview {
    float: left;
    background: WhiteSmoke;
    width:600px;
}

#drawing_frame {
    float: left;
    background: WhiteSmoke;
    width:100%;
}



/***********/
/* Drawing */




.drawing {
    margin: 10px;
}




/***********/
/* SVG */




.svg_drawing {
    /*width: 100%;*/
    background: white;

}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}




svg {
    border-color: #690000;
    border-width: 0.05em;
    border-style: solid;

}




.awesome-marker i {
    font-size: 18px;
    margin-top: 5px;
}
