body {
	/*
	font-family: 'Roboto', sans-serif;
	*/
	font-family: 'Open Sans', sans-serif;


}

a {
	text-decoration: none;

}


/*
html, body, div, form, fieldset, legend, label, img
{
	margin: 0;
	padding: 0;
}
*/


table
{
	border-collapse: collapse;
	border-spacing: 0;
}
