<template name="drawing_section">
  <div id="drawing_frame">
      <!--
    <div id='downloads'>
      <a class="button_float_right" href="#" id="request_drawing">request drawing</a>
      <a href="sample.pdf" id="download" class="button_float_right" target="_blank">Download Drawing (sample)</a>
        <a class="button_float_right" href="drawing/pdf_sample/{{system_id}}" id="view_pdf_sample" target="_blank">view generated PDF sample</a>
      <a class="button_float_right" href="drawing/{{system_id}}" id="view_drawing" target="_blank">view SVG drawing</a>

    </div>
      -->
    <div id="drawing" class="drawing" style="clear: both;">

    </div>
  </div>
</template>
