<template name="drawing_section">

  <div id="drawing_frame">
    <a href="sample_pdf/sample.pdf" id="download" class="button_float_right" target="_blank">Download Drawing (sample)</a>
    <a id="download" class="button_float_right">Download Drawing (network test, once)</a>
    <a id="download" class="button_float_right">Download Drawing (network test, repeats)</a>
    <div id="drawing" class="drawing" style="clear: both;">
      {{#each svgs}}
        {{this}}
      {{/each}}
    </div>
  </div>
</template>
