<template name="input">
  <span class="user_input">
    <span>{{name}}: </span>
    {{#if isType 'select'}}
      <select>
        <option selected="selected" disabled="disabled" hidden="hidden"></option>
        {{#each this.options}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    {{else}} {{#if isType 'text_input'}}
      <input class="{{input.type}}_input" type="text" value={{value}}>
    {{else}} {{#if isType 'number_input'}}
      <input class="{{input.type}}_input" type="text" {{value}}>
    {{else}}
      <span>undefined</span>
    {{/if}}
    {{/if}}
    {{/if}}
  </span>
</template>
